body {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*This will center vertically in relation to the height of the window. */
}

img{
    margin-left: 230px; /*picture centralized with form */
}
/*Title centralized in the left side*/
H1{
    margin-left: 50px;
    margin-right: 10px;
}
/* all the main itens in the center of the page*/
main{
    background-color: rgb(156, 156, 139);
    border: 2px solid #0a5575;
    color: solid #4c8ca8;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-left:90px;
    margin-right: 200px;
    margin-top: 300px;
}
#order-type {
    font-family: verdana;
    background-color: rgb(198, 63, 26);
    margin-left:230px;
    margin-right:230px;
    text-align: center;
    margin-top: 20px;
    color:white;
}
#delivery-address {
    font-family: verdana;
    background-color: rgb(211, 150, 35);
    text-align: center;
    color:white;
}
#adress-information {
    font-family: verdana;
    background-color: rgb(211, 150, 35);
    color:white;
}
#build-your-own {
    background-color: rgb(69, 138, 69);
    font-family: verdana;
    margin-top: 25px;
    color:white;
    text-align: center;
}
#button {
    background-color: rgb(225, 255, 77);
}
